/* TODO: dividi la regione commenti css
*/

/* #region common*/
:root{
    --disc-bg-header:#FFFFFF
}
*{
    margin: 0;
}
/* #endregion */

/* #region utilities */
/* #endregion */





/* #region header */
header.debug{
    height: 100px;
    display: flex;
    justify-content: center;
}
.site_nav{
    height:100px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_logo{
    background-color: rebeccapurple;
    width: 25%;

}
.item_link{
    text-align: center;
    background-color: brown;
    width: 50%;

}
.item_login{
    background-color: rebeccapurple;
    width: 25%;
}



/* #endregion */


/* #region Main */
main.debug{
    background-color: red;
    height: 300px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_main.debug{
    background-color: green;
    width: 50%;
    height: 80%;
}


/*start samething  */
.container_container_samething.debug{
    display: flex;
    justify-content: center;
}
.container_samething.debug{
    height: 400px;
    width: 500px;
}
.container_samething{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aqua_rectangle.debug{
    background-color: aqua;
    width: 60%;
    height: 80%;
}
.pink_rectangle.debug{
    background-color: pink;
    width: 40%;
    height: 80%;
}
.butrowreverse{
    flex-direction: row-reverse;
}

/* Big green triangle: main height bigger */
.taller.debug{
    background-color: rgb(109, 106, 106);
    height: 500px;
}
.first_main.debug.wider{
    background-color: green;
    width: 500px;
}
/* robo diviso in 4 */
.debug.robo{
    display: flex;
    justify-content: center;
}
.robo{
    height: 400px;
}
.robo_interno{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_robo.debug{
    background-color: aqua;
    width: 20%;
    height: 80%;
}
.item_robo_piccolo.debug{
    background-color: pink;
    width: 17.5%;
    height: 80%;
}


/* #endregion */



/* #region footer */
footer.debug{
    background-color: orange;
    height: 100px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.debug.site_container_footer{
    background-color: darkcyan;
    height: 80%;
    width: 80%;
}
.site_container_footer{
    display: flex;
    justify-content: center;
}
.debug.container_footer{
    background-color: brown;
    width: 100%;
}
.container_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.debug.item_footer{
    background-color: bisque;
}
/* #endregion */