*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
:root{
    --discord-bg-header:#3161e0;
    --discord-bg-dark: #23272a;
    --discord--bg-lightgray:#f6f6f6;
    --discord-buttons-lightblue:#8ea1e1;
    --discord-hr:#313849;
}

/* #region header*/
.site_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--discord-bg-header);
}
.img-logo{
    height: 50px;
    width: 100px;
}
.main_menu{
    list-style: none;
	display: flex;
	justify-content: center;
	gap: 0.5rem

}
header{
    color: white;
}
.accedi{
    padding: 0.7rem;
    border-radius: 20px;
}
/* start jumbotron */
.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Img/jumbo.png);
    height: 500px;
}
.container-small{
    width: 500px;
    color: white;
}
h1{
    /* che sarebbe un utilities? */
    text-align: center;
}
.align_buttons{
    text-align: center;
}
.header_paragraph{
    text-align: center;
    padding: 1rem;
}
.header_button{
    padding: 0.7rem;
    border-radius: 20px;
}
.black_button{
    background-color:var(--discord-bg-dark) ;
    color: white;
}
/* #endregion */
/* #region main*/
.bg_lightgray{
    background-color: var(--discord--bg-lightgray);
}
.d_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row_reverse{
    flex-direction: row-reverse;
}
.wave{
    width: 100%;
}
.gray_wave{
    background-color: var(--discord--bg-lightgray);
}

.center-main{
    /* utilities */
    width: 1000px;
    margin: auto;
}

.just-chillin{
    background-color: var(--discord--bg-lightgray);
    text-align: center;
}

.main_footer{
    text-align: center;
    background-image: url(./Img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4rem;
    background-color: var(--discord--bg-lightgray);
}
.main_button{
    padding: 0.7rem;
    border-radius: 20px;
    background-color:var(--discord-buttons-lightblue);
    color: white;
}
/* #endregion */
/* #region footer*/
footer{
    background-color: #23272a;
    padding: 2rem;
}
.container_footer{
    display: flex;
    justify-content: space-between;
}
.italian_flag{
    height: 1rem;
    align-self: flex-start;
}
.text_color_blue{
    color: var(--discord-buttons-lightblue);
}

.img-registr{
    display: flex;
    justify-content: space-between;
}
hr{
    color: var(--discord-hr);
}
/* #endregion */