/* 
La prima regione non posso chiamarla section ma solo div, dopo section è ok
dai un senso a quelle classi che vedi non big rectangle o ste sstronzate
*/

/* #region common*/
:root{
    --disc-bg-header:#FFFFFF
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* puoi anche dargli un border: 1px dashed bleck; per fare dubug */
    border: 1px dashed black;
}
/* #endregion */

/* #region utilities */
.d-flex{
    /* sta per display flex, posso usarlo nell'html evitando di scrivere su css */
}
/* #endregion */


/* #region debug */
/* #endregion */



/* #region header */
header.debug{
    height: 100px;
}
header{
    display: flex;
    justify-content: center;
}
/* margin auto???? */
.site_nav{
    height:100px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_logo{
    background-color: rebeccapurple;
    /* width: 25%; */
    flex-grow: 1;
}
.item_link{
    text-align: center;
    background-color: brown;
    /* width: 50%; */
    flex-grow: 3;
}
.item_login{
    background-color: rebeccapurple;
    /* width: 25%; */
    flex-grow: 1;
    text-align: right;
}



/* #endregion */


/* #region Main */
main.debug{
    background-color: red;
    height: 300px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_main.debug{
    background-color: green;
    width: 50%;
    height: 80%;
}


/*start samething  */
.container_container_samething.debug{
    display: flex;
    justify-content: center;
}
.container_samething.debug{
    height: 400px;
    width: 500px;
}
.container_samething{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aqua_rectangle.debug{
    background-color: aqua;
    width: 60%;
    height: 80%;
}
.pink_rectangle.debug{
    background-color: pink;
    width: 40%;
    height: 80%;
}
.butrowreverse{
    flex-direction: row-reverse;
}

/* Big green rectangle: main height bigger */
.taller.debug{
    background-color: rgb(109, 106, 106);
    height: 500px;
}
.first_main.debug.wider{
    background-color: green;
    width: 500px;
}
/* #endregion */



/* #region footer */

.footer_nav{
    display: flex;
    justify-content: center;
    align-items: center;
}




footer.debug{
    background-color: orange;
    height: 100px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.debug.site_container_footer{
    background-color: darkcyan;
    height: 80%;
    width: 80%;
}
.site_container_footer{
    display: flex;
    justify-content: center;
}
.debug.container_footer{
    background-color: brown;
    width: 100%;
}
.container_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.debug.item_footer{
    background-color: bisque;
}
/* #endregion */